---

---

<div class="flex items-center gap-4 text-(--color-text-primary)/50">
  <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 12 12" fill="none">
      <path
        d="M12 6C12 8.99439 9.80295 11.4769 6.93502 11.9273V7.74568H8.32936L8.59467 6.0159H6.93502V4.89341C6.93502 4.42006 7.1669 3.95886 7.91024 3.95886H8.6648V2.48621C8.6648 2.48621 7.9799 2.36933 7.32515 2.36933C5.95839 2.36933 5.06498 3.19776 5.06498 4.69752V6.0159H3.54558V7.74568H5.06498V11.9273C2.19752 11.4764 0 8.99416 0 6C0 2.6863 2.6863 0 6 0C9.3137 0 12 2.6863 12 6Z"
        fill="currentColor"></path>
    </svg>
  </a>

  <a href="https://instagram.com" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 12 12" fill="none">
      <path
        d="M5.99984 2.91916C4.29844 2.91916 2.91891 4.29895 2.91891 6.00032C2.91891 7.70205 4.29844 9.08125 5.99984 9.08125C7.70156 9.08125 9.08133 7.70205 9.08133 6.00032C9.08133 4.29895 7.70156 2.91916 5.99984 2.91916ZM5.99984 8.00039C4.89546 8.00039 3.99977 7.10498 3.99977 6.00032C3.99977 4.89569 4.89544 4.00028 5.99984 4.00028C7.10447 4.00028 8.00013 4.89569 8.00013 6.00032C8.00013 7.10496 7.10447 8.00039 5.99984 8.00039ZM9.92283 2.79759C9.92283 3.1949 9.6004 3.51733 9.20283 3.51733C8.80528 3.51733 8.48283 3.1949 8.48283 2.79759C8.48283 2.40011 8.80526 2.07759 9.20283 2.07759C9.6004 2.07759 9.92283 2.40011 9.92283 2.79759ZM11.685 2.07021C11.5316 1.67547 11.3265 1.34102 10.9931 1.00741C10.3206 0.334402 9.4005 0.0785586 8.47397 0.0366055C7.83389 0.00702734 7.62956 0.000488281 5.99984 0.000488281C4.37067 0.000488281 4.16634 0.00702734 3.52627 0.0366055C2.59751 0.0786523 1.67845 0.33609 1.00718 1.00739C0.333281 1.68129 0.0786328 2.59856 0.0360234 3.52675C0.00686719 4.16683 0 4.37093 0 6.00032C0 7.62975 0.00686719 7.83414 0.0360234 8.47448C0.0788203 9.40591 0.333023 10.3197 1.00713 10.9933C1.68115 11.6668 2.59814 11.9219 3.52627 11.9644C4.16634 11.9936 4.37067 12.0002 5.99984 12.0002C7.62959 12.0002 7.83391 11.9936 8.47399 11.9644C9.40427 11.9218 10.3204 11.6665 10.9931 10.9933C11.6653 10.3206 11.9218 9.40061 11.9639 8.47446C11.9931 7.83414 12 7.62972 12 6.0003C12 4.37088 11.9931 4.16681 11.9639 3.52673C11.9349 2.88794 11.8334 2.45196 11.685 2.07021ZM10.8839 8.42486C10.8542 9.07654 10.7028 9.7544 10.2287 10.2292C9.74824 10.7102 9.08046 10.8545 8.4247 10.8844C7.79184 10.9131 7.60233 10.9194 5.99984 10.9194C4.39793 10.9194 4.20841 10.9131 3.57551 10.8844C2.91809 10.8544 2.25136 10.7077 1.77134 10.2292C1.2927 9.75213 1.14539 9.07612 1.11607 8.42484C1.08741 7.79231 1.08113 7.60256 1.08113 6.0003C1.08113 4.39839 1.08743 4.20864 1.11607 3.57574C1.1453 2.92706 1.29963 2.24423 1.77124 1.77182C2.24941 1.29286 2.92308 1.1463 3.57555 1.11654C4.20841 1.08764 4.39793 1.08159 5.99984 1.08159C7.60209 1.08159 7.79184 1.08764 8.42473 1.11654C9.08177 1.14651 9.7496 1.29257 10.2286 1.77173C10.7078 2.25112 10.8541 2.92225 10.8839 3.57578C10.9129 4.20864 10.9192 4.39839 10.9192 6.00032C10.9191 7.60258 10.9129 7.79233 10.8839 8.42486Z"
        fill="currentColor"></path>
    </svg>
  </a>

  <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
      <g clip-path="url(#fb-clip)">
        <path
          d="M13.2807 13.281H11.0582V9.80031C11.0582 8.97029 11.0434 7.90183 9.90225 7.90183C8.74467 7.90183 8.56758 8.80616 8.56758 9.73988V13.2808H6.34507V6.12306H8.47871V7.10123H8.50858C8.94365 6.35735 9.75257 5.91305 10.6137 5.945C12.8664 5.945 13.2817 7.42672 13.2817 9.35438L13.2807 13.281ZM3.83727 5.14464C3.12495 5.14478 2.5474 4.56739 2.54726 3.85508C2.54713 3.14273 3.1245 2.56517 3.83678 2.56503C4.54911 2.56489 5.12665 3.14228 5.12679 3.85459C5.12692 4.56694 4.54959 5.14454 3.83727 5.14464ZM4.94852 13.281H2.72369V6.12306H4.94852V13.281ZM14.3887 0.501033H1.60686C1.00277 0.494207 0.50738 0.978113 0.5 1.58222V14.4176C0.507137 15.022 1.00246 15.5064 1.60686 15.4999H14.3887C14.9944 15.5075 15.4916 15.0231 15.5 14.4176V1.58132C15.4914 0.976 14.994 0.492128 14.3887 0.500097V0.501033Z"
          fill="currentColor"></path>
      </g>
      <defs>
        <clipPath id="fb-clip">
          <rect width="16" height="16" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </a>

  <a
    href="https://wa.me/+32486518181"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="WhatsApp"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
      <g clip-path="url(#wa-clip)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.6425 2.32519C12.1456 0.826531 10.1549 0.000875 8.034 0C3.66397 0 0.10725 3.55647 0.105531 7.92788C0.104937 9.32525 0.470031 10.6892 1.16384 11.8916L0.0390625 16L4.24206 14.8975C5.40009 15.5291 6.70394 15.862 8.03088 15.8625H8.03412C12.4037 15.8625 15.9608 12.3057 15.9625 7.93419C15.9633 5.81572 15.1394 3.82375 13.6425 2.32519ZM8.03409 14.5235C6.84894 14.5231 5.68916 14.2053 4.67741 13.6049L4.43678 13.4621L1.94266 14.1164L2.60838 11.6847L2.45169 11.4353C1.79203 10.3861 1.44363 9.1735 1.44416 7.92834C1.44559 4.29503 4.40181 1.33906 8.03672 1.33906C9.79684 1.33966 11.4514 2.02603 12.6956 3.27163C13.9397 4.51719 14.6245 6.17287 14.6239 7.93366C14.6224 11.5673 11.6662 14.5235 8.03409 14.5235Z"
          fill="currentColor"></path>
      </g>
      <defs>
        <clipPath id="wa-clip">
          <rect width="16" height="16" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </a>
</div>
